/* ========================= */
/* GLOBAL RESET */
/* ========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pangolin", cursive;
}

html, body {
    height: 100%;
    background: #0f0f0f;
    color: white;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}








/* ========================= */
/* HEADER */
/* ========================= */

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    z-index: 1000;
}

.logo {
    font-size: 22px;
    font-weight:600;
}

.nav-wrapper {
    background: rgba(53, 53, 53, 0.557);   
    backdrop-filter: blur(10px);      
    padding: 8px 10px;
    border-radius: 40px;
}

nav a {
    color: rgb(201, 201, 201);
    text-decoration: none;
    margin: 0 5px;
    transition: all 0.4s ease;

}

nav a.active {
    color: #ff6a00;
}

nav span {
    color: #ff6a00;
}







/* ========================= */
/* RESUME */
/* ========================= */

.resume-btn {
    background-color: #ff6a00;
    color: #000;
    padding: 8px 22px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    border: 1px solid #ff6a00;
    transition: all 0.3s ease;
}

.resume-btn:hover {
    background: transparent;
    color: #ff6a00;
}

.resume-modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.85);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.resume-content {
    width: 80%;
    height: 85%;
    background: #111;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 40px;
}

.resume-header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    gap: 10px;
    background: #222;
}

.download-btn a {
    text-decoration: none;
    color: white;
}

.download-btn,
.close-btn {
    background: #ff6a00;
    color: white;
    border: none;
    padding: 6px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.close-btn {
    background: crimson;
}

.resume-content iframe {
    flex: 1;
    width: 100%;
}





/* ========================= */
/* SECTION BASE */
/* ========================= */

.section {
    height: 100vh;
    padding: 100px 120px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    position: relative;
    overflow: hidden;
    transition: transform 0.6s ease, opacity 0.6s ease;
}

.section:not(.active) {
    opacity: 0.7;
    transform: scale(0.98);
}

.section.active {
    opacity: 1;
    transform: scale(1);
}







/* ========================= */
/* GRID BACKGROUND SYSTEM */
/* ========================= */

.section::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.4;
    animation: gridMove 25s linear infinite;
}

.hero::before {
    background-image:
        linear-gradient(#3d3d3d 1px, transparent 1px),
        linear-gradient(90deg, #3d3d3d 1px, transparent 1px);
    background-size: 50px 50px;
}

.about::before {
    background-image:
        radial-gradient(circle at 2px 2px, #3d3d3d 2px, transparent 0);
    background-size: 40px 40px;
}

.work::before {
    background-image:
        linear-gradient(0deg, #3d3d3d 2px, transparent 2px),
        linear-gradient(90deg, #3d3d3d 1px, transparent 1px);
    background-size: 60px 60px;
}

.skills::before {
    background-image:
        radial-gradient(#3d3d3d 2px, transparent 2px);
    background-size: 50px 50px;
}

.education::before {
    background-image:
        linear-gradient(#3d3d3d 1px, transparent 1px);
    background-size: 80px 80px;
}

.contact::before {
    background-image:
        linear-gradient(90deg, #3d3d3d 1px, transparent 1px);
    background-size: 100px 100px;
}









/* ========================= */
/* HERO SECTION */
/* ========================= */

.hero-content {
    max-width: 750px;
}

.hero .sub {
    font-size: 20px;
    font-weight: bold;
    color: #ccc;
}

.hero h1 {
    font-size: 48px;
    margin: 20px 0;
    line-height: 1.3;
}

.hero .desc {
    margin-top: 20px;
    line-height: 1.7;
    color: #bbb;
}

.main-btn {
    margin-top: 0px;
    background: #2a2a2a;
    border: none;
    padding: 12px 28px;
    color: rgb(255, 255, 255);
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
    font-weight:600;
}

.main-btn:hover {
    background: transparent;
    border: 1px solid #ff6a00;
    color: #ff6a00;
} 

/* ================= CUBE 3D SCENE ================= */

.cube-scene {
    position: absolute;
    right: 10%;
    top: 55%;
    transform: translateY(-50%);
    width: 420px;
    height: 420px;
    perspective: 1200px;
}

.cube-grid {
    position: relative;
    width: 100%;
    height: 100%;
    transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg);
    transform-style: preserve-3d;
    transition: transform 0.3s ease;
}

.cube {
    position: absolute;
    width: 60px;
    height: 60px;
    transform-style: preserve-3d;
    transition: transform 0.9s cubic-bezier(0.22, 1, 0.36, 1);
    animation: wave 3s ease-in-out infinite;
}

.cube-floor {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 60%;
    top: 40%;
    transform: translateX(-50%) rotateX(60deg) rotateZ(45deg);
    background: rgba(125, 125, 125, 0.6);
    filter: blur(40px);
    opacity: 0.30;
    pointer-events: none;
}

/* ================= WAVE ANIMATION ================= */
@keyframes wave {
    0%   { transform: translateZ(0px); }
    50%  { transform: translateZ(18px); }
    100% { transform: translateZ(0px); }
}

/* ================= HOVER POP EFFECT ================= */
.cube:hover {
    animation: none; /* stop wave for active cube */
    transform: translateZ(55px) scale(1.08);
    z-index: 20;
}

/* ================= FACES ================= */
.face {
    position: absolute;
    width: 50px;
    height: 50px;
}

.front {
    background: #ffffff;
    transform: translateZ(25px);
}

.back {
    background: #000000;
    transform: rotateY(180deg) translateZ(25px);
}

.right {
    background: #252525;
    transform: rotateY(90deg) translateZ(25px);
}

.left {
    background: #000000;
    transform: rotateY(-90deg) translateZ(25px);
}

.top {
    background: #000000;
    transform: rotateX(90deg) translateZ(25px);
}

.bottom {
    background: #565656;
    transform: rotateX(-90deg) translateZ(25px);
}








/* ========================= */
/* ABOUT SECTION */
/* ========================= */

.about {
    text-align: left;
}

.about h2 {
    margin-bottom: 30px;
}

.about-text {
    margin: auto;
    line-height: 1.8;
    color: #ccc;
    line-height: 30px;
}

.float-img {
    position: absolute;
    width: 180px;
    opacity: 0;
    transition: all 0.8s ease;
}

.img-right-top {
    right: 20%;
    top: 10%;
    transform: translateY(-150px) rotate(8deg);
}

.img-right-middle {
    right: 5%;
    bottom: 20%;
    transform: translateY(-150px) rotate(-10deg);
}

.img-right-bottom {
    right: 24%;
    bottom: 5%;
    transform: translateY(-150px) rotate(8deg);
}

.about.show .img-right-top {
    opacity: 1;
    transform: translateY(0) rotate(-5deg);
}

.about.show .img-right-middle {
    opacity: 1;
    transform: translateY(0) rotate(20deg);
}

.about.show .img-right-bottom {
    opacity: 1;
    transform: translateY(0) rotate(-8deg);
}










/* ========================= */
/* WORK SECTION */
/* ========================= */

.section.work h2 {
    text-align: center;
}

.projects-grid {
    column-count: 3;
    column-gap: 30px;
    margin-top: 70px;
}

.project-card {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;

    border-radius: 18px;
    padding: 18px 24px;
    min-height: 70px;

    cursor: pointer;
    transition: transform 0.35s ease;
    position: relative;

    color: white;
}

.project-card.active {
    transform: scale(1.03);
}

.card-title {
    font-size: 16px;
    font-weight: 600;
}

.card-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    margin-top: 12px;
    font-size: 14px;
    transition: max-height 0.4s ease, opacity 0.3s ease;
}

.project-card.active .card-content {
    opacity: 1;
    max-height: 300px;
}

.github-link {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
}

.github-link:hover {
    opacity: 0.8;
}


/* ================= UNIQUE BACKGROUND COLORS ================= */
.project-card:nth-child(1) {
    background: linear-gradient(135deg, #b8d367, #1e293b);
}

.project-card:nth-child(2) {
    background: linear-gradient(135deg, #0ea5e9, #1e293b);
}

.project-card:nth-child(3) {
    background: linear-gradient(135deg, #10b981, #1e293b);
}

.project-card:nth-child(4) {
    background: linear-gradient(135deg, #8b5cf6, #1e293b);
}

.project-card:nth-child(5) {
    background: linear-gradient(135deg, #f59e0b, #1e293b);
}

.project-card:nth-child(6) {
    background: linear-gradient(135deg, #ef4444, #1e293b);
}

.project-card:nth-child(7) {
    background: linear-gradient(135deg, #14b8a6, #1e293b);
}

.project-card:nth-child(8) {
    background: linear-gradient(135deg, #f069ff, #1e293b);
}

/* Initial state (hidden & slightly down) */
.work .project-card {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

/* When section becomes visible */
.work.show .project-card {
    opacity: 1;
    transform: translateY(0);
}

/* Clean stagger animation */
.work.show .project-card:nth-child(1) { transition-delay: 0.1s; }
.work.show .project-card:nth-child(2) { transition-delay: 0.2s; }
.work.show .project-card:nth-child(3) { transition-delay: 0.3s; }
.work.show .project-card:nth-child(4) { transition-delay: 0.4s; }
.work.show .project-card:nth-child(5) { transition-delay: 0.5s; }
.work.show .project-card:nth-child(6) { transition-delay: 0.6s; }










/* ========================= */
/* SKILLS SECTION */
/* ========================= */

.skills {
    text-align: center;
}

.skills h2 {
    margin-bottom: 40px;
}
.skill-grid {
    display: grid;
    grid-template-columns: repeat(6, 120px); 
    justify-content: center; 
    gap: 30px;
    margin-bottom: 20px;
    
}

.skill {
    text-align: center;
}

.icon {
    width: 70px;     
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: white;
    margin: 0 auto;   
}

.icon img {
    width: 70%;  
    height: auto;
}

.skill p {
    margin-top: 12px;
    color: #bbb;
    font-size: 14px;
}

.skills .skill {
    opacity: 0;
    transform: scale(0) translateY(0);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.skills.show .skill {
    opacity: 1;
    transform: scale(1);
}

/* ===== Slow Stagger Pop ===== */
.skills.show .skill:nth-child(1)  { transition-delay: 0.1s; }
.skills.show .skill:nth-child(2)  { transition-delay: 0.2s; }
.skills.show .skill:nth-child(3)  { transition-delay: 0.3s; }
.skills.show .skill:nth-child(4)  { transition-delay: 0.4s; }
.skills.show .skill:nth-child(5)  { transition-delay: 0.5s; }
.skills.show .skill:nth-child(6)  { transition-delay: 0.6s; }
.skills.show .skill:nth-child(7)  { transition-delay: 0.7s; }
.skills.show .skill:nth-child(8)  { transition-delay: 0.8s; }
.skills.show .skill:nth-child(9)  { transition-delay: 0.9s; }
.skills.show .skill:nth-child(10) { transition-delay: 1s; }
.skills.show .skill:nth-child(11) { transition-delay: 1.1s; }
.skills.show .skill:nth-child(12) { transition-delay: 1.2s; }
.skills.show .skill:nth-child(13) { transition-delay: 1.3s; }
.skills.show .skill:nth-child(14) { transition-delay: 1.4s; }
.skills.show .skill:nth-child(15) { transition-delay: 1.5s; }
.skills.show .skill:nth-child(16) { transition-delay: 1.6s; }
.skills.show .skill:nth-child(17) { transition-delay: 1.7s; }
.skills.show .skill:nth-child(18) { transition-delay: 1.8s; }









/* ========================= */
/* EDUCATION SECTION */
/* ========================= */

.education {
    display: flex;
    align-items: center;
}

.edu-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.edu-left, .edu-right {
    width: 45%;
}

.edu-left h3,
.edu-right h3 {
    margin-bottom: 20px;
    font-weight: 900;
    font-size: x-large;
}

.edu-left i,
.edu-right i{
    font-size:medium;
}

.edu-right p{
    margin-bottom: 10px;
}

.divider {
    width: 2px;
    background: #333;
    height: 320px;
}






/* ========================= */
/* CONTACT SECTION */
/* ========================= */

.contact {
    text-align: center;
    position: relative;
    top: 100px;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: flex-start;   
    padding: 120px 150px;      
    text-align: left;
}

.contact p {
    font-size: 26px;
    color: #ccc;
    line-height: 1.7;
    margin-bottom: 25px;
}

.contact h3 {
    margin-bottom: 60px;
}

.socials {
    display: flex;
    gap: 35px;
}

.top-arrow {
    position: absolute;
    bottom: 30px;
    left: 55%;
    transform: translateX(-50%);
    font-size: 30px;
    cursor: pointer;
    color: #ff6a00;
    transition: 0.3s;

}

.top-arrow:hover {
    color: #ff6a00;
}


.contact p,
.contact h3,
.contact .socials a,
.contact .top-arrow {
    opacity: 0;
    transform: translateX(-60px);
    transition: all 0.6s ease;
}

.contact.show p {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.1s;
}

.contact.show h3 {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.3s;
}

.contact.show .socials a {
    opacity: 1;
    transform: translateX(0);
}

.contact.show .socials a:nth-child(1) { transition-delay: 0.5s; }
.contact.show .socials a:nth-child(2) { transition-delay: 0.6s; }
.contact.show .socials a:nth-child(3) { transition-delay: 0.7s; }

.top-arrow {
    transform: translateX(-50%) translateY(40px);
    opacity: 0;
    transition: all 0.6s ease;
}

.contact.show .top-arrow {
    opacity: 1;
    transform: translateX(50%) translateY();
    transition-delay: 1.5s;
    
}



/* ------------------------------------------------------------------------------------------------------------------------------ */



/* ===================================================== */
/* ===================== TABLET ========================= */
/* ===================================================== */

@media (max-width: 992px) {

    .hero h1 {
        font-size: 38px;
    }

    .hero .desc {
        font-size: 15px;
    }

    .cube-scene {
        width: 300px;
        height: 300px;
        right: 3%;
    }

    .cube-grid {
        transform: rotateX(60deg) rotateZ(45deg) scale(0.8);
    }

    .about {
        padding: 80px 60px;
    }

    .projects-grid {
        column-count: 2;
        column-gap: 20px;
    }

    .project-card {
        padding: 15px 18px;
        font-size: 14px;
    }

    .skill-grid {
        grid-template-columns: repeat(4, 100px);
        gap: 25px;
    }

    .icon {
        width: 60px;
        height: 60px;
    }

    .education {
        padding: 60px;
    }

    .contact {
        padding: 100px 80px;
    }
}





/* ===================================================== */
/* ===================== MOBILE ========================= */
/* ===================================================== */


@media (max-width: 768px) {

    .section {
        padding: 60px 20px !important;
        min-height: auto !important;
    }

    .section h2 {
        margin-bottom: 30px;
    }


    /* ---------------- HERO ---------------- */

    nav,
    .nav-wrapper,
    .cube-scene {
        display: none !important;
    }

    .hero {
        text-align: center;
    }

    .hero h1 {
        font-size: 26px;
        line-height: 1.4;
    }

    .hero .desc {
        font-size: 14px;
        margin-top: 15px;
    }

    .main-btn {
        margin-top: 18px;
        padding: 10px 18px;
        font-size: 14px;
    }


    /* ---------------- WHO AM I ---------------- */

    .about img,
    .firstimg,
    .secondimg,
    .thirdimg,
    .float-img {
        display: none !important;
    }

    .about {
        text-align: center;
    }

    .about p {
        font-size: 14px;
        line-height: 1.6;
    }


    /* ---------------- MY WORKS ---------------- */

    .projects-grid {
        column-count: 1;
        column-gap: 0;
        max-height: none !important;
        overflow: visible !important;
    }

    .project-card {
        width: 100%;
        font-size: 13px;
        padding: 15px;
        margin-bottom: 18px;
    }


    /* ---------------- WHAT I USE ---------------- */

    .skill-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 18px;
        max-height: none !important;
        overflow: visible !important;
        justify-content: center;
    }

    .icon {
        width: 60px;
        height: 60px;
    }

    .skill p {
        font-size: 12px;
        margin-top: 8px;
    }

    .skills .main-btn {
        margin-top: 35px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


    /* ---------------- EDUCATION ---------------- */

    .education {
        flex-direction: row !important;
        padding: 50px 15px;
        transform: scale(0.95);
        transform-origin: top center;
    }

    .edu-left,
    .edu-right {
        width: 50%;
    }


    /* ---------------- CONTACT ---------------- */

    .contact {
        align-items: center !important;
        text-align: center !important;
    }

    .contact p {
        font-size: 16px;
    }

    .socials {
        justify-content: center;
        gap: 25px;
    }

    .top-arrow {
        left: 60%;
        transform: translateX(-50%);
    }


}
